/* Samuel Switzer 2020 */
/* Content */
h1 {
	color: #c9c9c9;
	font: Arial, sans-serif;
	font-size: 40px;
	padding-left: 35px;
}
h2, h3, h4 {
	color: #3498AA;
	font: Arial, sans-serif;
}

body {
	background-image: url("images/stripebg.png");
	background-color: #222;
	font: 14px Arial, sans-serif;
}

p {
	color: white;
	font: 14px Arial, sans-serif;
}

table, th {
	background-color:#222;
	border-spacing: 10px;
	border: 1px solid #c9c9c9;
}

blockquote {
	color: #3498AA;
	font: 20px Arial, sans-serif
}

li {
	color: white;
	font: 14px Arial, sans-serif;
}

/* Classes */
.photo {
	width: 200px;
	padding: 10px;
	border: 1px solid #c9c9c9;
}

.artphoto {
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
	margin: 20px;
	filter: drop-shadow(5px 5px 10px grey);
}
.artphoto:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.gitlogo {
    color: #fff;
		fill: currentColor;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 7em;
  height: 7em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #3498AA;
}

.svg-icon circle {
  stroke: #3498AA;
  stroke-width: 1;
}
